parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/
    excludePaths:
        - %currentWorkingDirectory%/src/Kernel.php
        - %currentWorkingDirectory%/src/Migrations
        - %currentWorkingDirectory%/tests
        - %currentWorkingDirectory%/config
        - %currentWorkingDirectory%/Public

    ergebnis:
        noExtends:
            enabled: false
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false

    ignoreErrors:
