<comments-area data-target="{{ target.id }}" data-user="{{ app.user ? app.user.id : false }}"></comments-area>
{# <div {{ react_component('Comments', {target: target.id, user: app.user ? app.user.id : false} ) }}></div> #}
