{% extends 'admin/base.html.twig' %}

{% block title %}
  {{ icon('lines') }}
  Gérer les contenus
{% endblock %}

{% block actions %}
    <a href="{{ path(prefix ~ '_new') }}" class="btn-primary">Ajouter</a>
{% endblock %}

{% block content %}

    {{ grid(gridData, rows) }}

    {{ paginate(rows) }}
{% endblock %}

