<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<title>
		{% block title page.title %} | UMA
	</title>


	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('app-front') }}


	{{ encore_entry_script_tags('app') }}
	{{ encore_entry_script_tags('app-front') }}
</html></head><body>

{% include "front/includes/_header.html.twig" %}
<main>

	{% block body %}
	{% endblock %}
</main>
{% include "front/includes/_footer.html.twig" %}</body></html>
